/* carasoul */

/* CompanyCarousel.css */
.company-carousel-container {
  width: 100%;
  overflow: hidden;
  padding: 40px 0;
}

.company-carousel {
  position: relative;
  width: 100%;
}

.company-track {
  display: flex;
  animation: scroll 20s linear infinite;
  width: max-content;
}
.company-slide {
  flex: 0 0 auto;
  width: 150px; /* default width */
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-logo {
  width: 100%;
  height: 80px; /* max height to keep it uniform */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0.7;
  transition: all 0.3s ease;
}
.company-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* cover might cut off, contain keeps full image */
  object-position: center;
  display: block;
  
}
.company-logo:hover {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.1);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media (max-width: 480px) {
  .company-slide {
    width: 80px;
    margin: 0 10px;
  }
  .company-logo {
    max-height: 50px;
  }
}



 .section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: 600; */
  font-size: 1.1rem; 
}

/* .section-title::before,
.section-title::after {
  content: "";
  width: 20px;
  border-bottom: 2px solid #00a86b;
  margin: 0 10px;
} */
.mnc_carasoul{
    margin-top: -10%;
}