.hero-wrapper {
  background: linear-gradient(to bottom right, #fffbe7, #ffffff);
  padding: 80px 0 100px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
.hero-text{
    z-index: 3;
}
.hero-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3;
  color: #111;
}

.hero-subtext {
  margin-top: 18px;
  color: #444;
  font-size: 15px;
  max-width: 420px;
}

.hero-btn-primary {
  background: #ffe972;
  padding: 12px 30px;
  border-radius: 8px;
  font-weight: 600;
  border: 1px solid #e5d26a;
  box-shadow: 0px 2px 6px rgba(255, 215, 70, 0.4);
}

.hero-btn-primary:hover {
  background: #ffdf4d;
}

.hero-btn-secondary {
  background: #fff;
  padding: 12px 30px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-weight: 600;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.hero-image-wrap {
  margin-top: 40px;
}

.hero-image-container {
  position: relative;
  display: inline-block;
  top: -40px;
}

.hero-circle-bg {
  width: 380px;
  height: 380px;
  background: #f8d47b;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-main-image {
  position: relative;
  z-index: 2;
  
}


/* RESPONSIVE */
@media (max-width: 992px) {
  .hero-title {
    font-size: 34px;
  }

  .hero-wrapper {
    padding: 50px 0 60px;
  }

  .hero-circle-bg {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 576px) {
  .hero-title {
    font-size: 28px;
    text-align: center;
  }
  .hero-subtext {
    text-align: center;
    margin: auto;
  }
  .d-flex.gap-3 {
    justify-content: center;
  }
  .hero-overlay{
    display:none;
  }
  .hero-main-image{
    margin-top: 40px;
  }
}
.circle-image-down {
  position: absolute;
  bottom:0px;
  left:0px;
  z-index:10;
}
.circle-image-up {
  position: absolute;
  top:-20px;
  right:-20px;
  z-index:10;
  transform: rotate(50deg);
}
.rotating {
  animation: rotate 3s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

    
}
/* .overlay{
    position: absolute;
    border:5px solid #000;
    top:-30%;
    left:-5%;
    width:110%;
    height:140%;
    background: rgba(255, 255, 255, 0.6);
    z-index:1;
    border-radius: 8rem;
    transform: rotate(-15deg);
    
} */
.hero-overlay{
    position: absolute;;
    z-index: 2;
    pointer-events: none;
    width:100%;
    height:120%;
    
}
.line{
    line-height: 1.5;
}

.highlight-animate {
  position: relative;
  z-index: 1;
}

.highlight-animate::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: calc(100%);
  transform: skewX(-10deg);
  /* transform: rotate(2deg); */
  background: #fac76a;
  z-index: -1;
  border-radius: 4px;
  animation: highlight 3s ease forwards;
  animation-delay: 1s;
}

@keyframes highlight {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
