.course-card {
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.course-card:hover {
  
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background: #F9F58B;

}
.course-card:hover .circle {
    background:#fff;
    opacity:0.68;
}
.circle {
    width: 100%;
    height: 80%;
    background: #FDF001;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: -50%;
    opacity:0.35;
    z-index: 0;

}
.course-image{
    border-radius: 5%;
    z-index: 1;
}
.card-body {
    position: relative;
    z-index: 1;
}   
.btn-cat{
    border-radius: 20px;    
    
}